.blog_back {
  background-color:rgb(96, 116, 156);
}
main .blog-title{
	padding:50px 0px;
	background-size: cover;
	display: flex;
	justify-content: center;
}

main .blog-title h1{
	font-size: 3rem;
	color: white;
}
.row {
  background-color: white;
	margin:10px 10%;
	padding:30px 50px;
	border:1px solid white;
	border-radius: 1rem;;
}
.popular{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.popular a{
	margin: 15px;
}
.popular img{
	width: 250px;
	border:1px solid white;
	border-radius: 1rem;
	transition: all .25s;
}
.popular img:hover{
	transform: scale(0.9);

}
.recent{
	padding: 50px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.article{
	display: flex;
	flex-direction: column;
	padding:10px;
	margin: 10px;
	max-width:500px;
	border: 1px solid white;
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgb(219, 219, 219);
	transition: all 0.25s;
}
.article:hover{
	transform: scale(0.9);
}
.articletitle{
  color: black;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
}

.date{
  color: rgb(96, 116, 156);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 0px;
}


@media only screen and (max-width:620px){
	.row{
		padding:20px;
		margin: 5%;
	}
}
@media only screen and (max-width:382px){
	.row{
		padding:10px;
		margin:10px;
	}
}